.bluecolor{
height: 100vh;
background-color: #004687;
width: 300px;
position: fixed;
left: 0;
top: 0;
z-index: -1;
}
 #title {
  padding-left: 300px;
  padding-right: 800px;
  p{
    font-size: larger;
  }
}
#search{
  padding-left: 300px;
}
#expenses{
  padding-left: 300px;
  padding-top: 30px;
}
table{
  margin: 20px;
}
.expenseTable{
  width: 40%;
  border-collapse: collapse;
 

  th{
    padding: 12px 16px;
    border: 1px solid #000;
    text-align: left;
    background-color:#005A9C ;
    font-weight: 900;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  td{
    padding: 12px 16px;
    border: 1px solid #000;
    text-align: left;
    background-color: #E0FFFF;
    font-weight: 650;
}



  }
  #form{
    display: flex;
    flex-direction: column;
    width: 50vh;
    padding-left: 150px;

    h1{
      padding-left: 150px;

    }
    p{
      padding-left: 150px;
    }

  }

  
  

